<table class="table table-sm">
  <thead>
    <tr>
      <th>Command</th>
      <th>Permission</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% command_permissions.each do |permission| %>
    <tr>
      <td><%= permission.command_name %></td>
      <td><%= permission.permission_name %></td>
      <td><%= link_to 'Delete', destroy_command_permission_channel_bot_path(id: permission.channel_bot_id, custom_command_id: permission.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
