<table class="table">
  <thead>
    <tr>
      <th>Command</th>
      <th>Permission</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @commands.each do |command| %>
      <tr>
        <td>!<%= command.name %></td>
        <td><%= command.permission_id %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
