<table class="table">
  <thead>
    <tr>
      <th>Command</th>
      <th>Permission</th>
      <th>Repeat Status</th>
      <th>Repeat Cycle</th>
      <th>Repeat Start</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'command', collection: @commands %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function(){
    bindExpanders()
    bindJsFormSubmitters()
  })
</script>
